

@media (min-width: 2560px) {
    .video-fundo-pai .video-fundo {
        width: 100vw;
    }
}

@media (min-width: 1920px) and (max-width: 2560px) {
   
}

@media (max-width: 1366px) {

    .cabecalho {
        margin-top: 1rem;
    }
    .cabecalho .nome {
        font-size: 50px;
        text-align: center;
        padding: 1rem;
    }

    .conteudo .conteudo-foto {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .conteudo .conteudo-foto img {
        width: 320px;
    }

    .conteudo-texto {
        font-size: 40px;
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}


@media (max-width: 800px) {

    .cabecalho,
    .conteudo,
    .rodape {
        height: 70%;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    
    .cabecalho {
        margin-top: 20%;
    }
}


@media (max-width: 768px) {

    .cabecalho,
    .conteudo,
    .rodape {
        height: 70%;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    
    .cabecalho {
        margin-top: 10%;
        padding-bottom: 0;
    }

    .cabecalho .nome {
        margin-bottom: 0;
        padding: 0;
    }


    .conteudo .conteudo-foto {
        margin-top: 0;
        margin-bottom: 0;
    }

    
}